@model string

@{
    ViewBag.Title = "OOP Concept Details";
}

<h2>OOP Concept Details</h2>
<p>@Model</p>
<p><button onclick="location.href='@Url.Action("Index", "Home")'">Back to OOP Concepts</button></p>
